@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700|IBM+Plex+Serif:600,700');

$body-background-color: #fafafb;
$footer-background-color: $grey-darker;
$text: $grey-darker;

$family-sans-serif: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$family-serif: 'IBM Plex Serif', 'Georgia', Times, serif;

.title {
  font-family: $family-serif;
}

$body-size: calc(15.75px + (18 - 15.75) * ((100vw - 300px) / (1600 - 300)));

$section-padding: 4rem 1.5rem;

$site-green: #547E00;
$link: $site-green;
$link-hover: darken($link, 10%);

$navbar-item-active-color: $link;
$navbar-item-hover-color: darken($link, 5%);

$title-weight: $weight-bold;

::selection {
  background: rgba($site-green, .35);
}

.navbar-brand {
  svg {
    height: 27px;
    width: auto;
    fill: $grey-darker;
  }

  a:hover {
    svg {
      fill: $link;
    }
  }
}

.navbar-item {
  font-weight: $weight-bold;
}

.hero-foot {
  a:hover {
    svg {
      fill: lighten($link, 10%);
    }
  }
}

figcaption {
    padding-top: 0.35rem;
    color: lighten($text, 15%);
  }

.card {
  h3 {
    font-weight: $weight-semibold;
  }
}

footer.footer {
  padding: 2rem 1.5rem;
}

a {
  font-family: $family-serif;
  font-weight: $weight-semibold;
}

@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/pages/award";
@import "~bulma/sass/pages/ability";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/layout/_all";

